.idea
*.iml
reports
node_modules
dist
package-lock.json
*.tmp
.iconFont
.sass-cache
app/bower_components
npm-debug.log
.npmrc
.DS_Store
*.patch
coverage
phantomjsdriver.log
*.tgz
test-reports
tasks.json
.vscode
dist
target
typescript

